# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large datasets
datasets/
processed/

# Model checkpoints
models/*.h5
models/*.keras
models/*.ckpt
models/*.weights.h5
models/*.pth
models/*.pt
models/*.onnx
models/*.tflite

# Logs
*.log
logs/

# TensorBoard
runs/

# Cache
.cache/